*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  
}
body
{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  gap: 100px;
  background: #222;
}
.Box
{
    position: relative;
    width: 380px;
    height: 420px;
    background: #1c1c1c;
    border-radius: 8px;
    overflow: hidden;
}
.Box::before
{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg,transparent,#45f3ff,#45f3ff);
    transform-origin: bottom right ;
    animation: animate 6s linear infinite;
}
.Box::after
{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg,transparent,#45f3ff,#45f3ff);
    transform-origin: bottom right ;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}
@keyframes animate
{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}
.form
{
    position: absolute;
    inset: 3px;
    border-radius: 8px;
    background: #28292d;
    z-index: 10;

}
.inputBox
{
  position: relative;
  width: 300px;
  font-size: 1.5em;
}
.inputBox input
{
  width: 100%;
  background: transparent;
  color: #fff;
  border: none;
  outline: none;
  box-shadow: none;
  font-size: 1.5em;
  letter-spacing: 0.1em;
}
.inputBox span
{
  position: absolute;
  left: 0;
  padding: 10px 0 5px;
  color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  pointer-events: none;
  letter-spacing: 0.1em;
  transition: 0.5s;
}
.inputBox input:valid ~ span,
.inputBox input:focus ~ span
{
  color: #2196f3;
  transform: translateY(-16px);
  font-size: 0.65em;
}
.inputBox i
{
  position: absolute;
  left: 0;
  bottom: -25px;
  width: 100%;
  height: 2px;
  background: #fff;
  overflow: hidden;
}
.inputBox i::before
{
  content: '';
  position: absolute;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg,#ff1b69,#ff0,#2196f3,#9c27b0,#ff1b69);
  animation: animate1 2s linear infinite;
  transition: 0.5s;
}
.inputBox input:valid ~ i::before,
.inputBox input:focus ~ i::before
{
  left: 0;
}
@keyframes animate1
{
  0%
  {
    background-position-x: 0;
  }
  100%
  {
    background-position-x: 300px;
  }
}

