<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to SPACE-O-PEDIA</title>
    <link rel="stylesheet" href="/static/cards.css">
</head>
<body>
  <div class="heading">
    <h1>WELCOME TO THE SOLAR SYSTEM</h1>
  </div>
    <div class="container">
    <div class="box">
      <span></span>
      <div class="content">
        <h2>The Sun</h2>
        <p>Our Sun is a 4.5 billion-year-old star – a hot glowing ball of hydrogen and helium at the center of our solar
          system. </p>
        <a href="#">Read More</a>
      </div>
    </div>
    <div class="box">
      <span></span>
      <div class="content">
        <h2>The 8 Planets</h2>
        <p>There eight palnets known to us.</p>
        <a href="#">Read More</a>
      </div>
    </div>
    <div class="box">
      <span></span>
      <div class="content">
        <h2>The Dwarf Planets</h2>
        <p>A celestial body resembling a small planet but lacking certain technical criteria that are required for it to be classed as such.</p>
        <a href="#">Read More</a>
      </div>
    </div>
  </div>
</body>
</html>
